body{
    font-family: Arial;
    background:#7896c4;
    text-align:center;
}

h1{
    color:#333;
}

.container{
    background:rgb(215, 159, 159);
    width:400px;
    margin:auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
    width:90%;
    padding:8px;
    margin:5px;
}

button{
    padding:8px 12px;
    margin:5px;
    background:#4CAF50;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#45a049;
}

#output{
    margin-top:20px;
    padding:20px;
    background:white;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
}